@dragPointSize: 10px;

.widget-preview-wrapper {
  position: relative;
  outline: 2px dashed rgba(0,0,0,.3);

  &.selected {
    outline: 2px solid #f50;
    z-index: 10000;
  }

  .drag-point {
    width: @dragPointSize;
    height: @dragPointSize;
    background: #f1c40f;
    border-radius: 80%;
    position: absolute;
    z-index: 10;
    right: -@dragPointSize / 2;
    bottom: -@dragPointSize / 2;
  }
  &.absolute {
    position: absolute;
  }
}
