.page-design {
  user-select: none;
  p {
    margin: 0;
  }

  #design-root {
    display: flex;
  }

  #root-widget {
    min-height: 667px;
  }

  .tree-view-area {
    width: 320px;
    overflow-x: scroll;
    .rstcustom__rowContents {
      min-width: auto;
    }
  }

  .preview-area {
    width: 750px;
    background: #e6f7ff;
    overflow-x: hidden;
    padding: 50px 0;
    .simulator {
      position: relative;
      width: 375px;
      min-height: 667px;
      margin: 0 auto;
      background: #fff;
    }
  }

  .edit-area {
    padding: 20px 0;
    margin-left: 10px;
  }
}
