.page-design {
  user-select: none;
  p {
    margin: 0;
  }
  .design-container {
    display: flex;
  }

  .preview-container {
    width: 750px;
    background: #252a2e;
    overflow-x: hidden;
    padding: 50px 0;
    .simulator {
      position: relative;
      width: 375px;
      min-height: 667px;
      margin: 0 auto;
      background: #fff;
    }
  }

  .edit-container {
    padding: 50px 0;
    margin-left: 10px;
  }
}
